<%- include("header") -%>



	<div class="header">
		<div class="wrap">
			<div class="header-bot">
				<div class="logo">
					<a href="/"><img src="images/logo.png" alt="#"></a>
				</div>


				<div class="cart">

					<div class="menu-main">

						<!-- echo '<ul class="dc_css3_menu">' ;
					 echo '<li class="active"><a href="indexlogin.php">Home</a></li>' ;
					 echo '<li><a href="services.php">Brands</a></li>' ;
					 echo '<li><a href="booking.php">Book</a></li>' ;
                     echo '<li><a href="orders.php">Orders</a></li>';
                     echo '<li><a href="logout.php">logout</a></li>' ;
		     	     echo '</ul>' ; -->

						<ul class="dc_css3_menu">
							<li class="active"><a href="/">Home</a></li>
							<li><a href="about">About</a></li>
							<li><a href="services">Brands</a></li>
							<li><a href="contact">Contact</a></li>
							<li><a href="login">Login</a></li>
							<li><a href="register">Signup</a></li>
						</ul>

						<div class="clear"></div>
					</div>

				</div>


				<div class="clear"></div>
			</div>
		</div>
	</div>



	<div class="main">
		<div class="content-box1">
			<div class="wrap">
				<div class="banner2">

				</div>
			</div>
		</div>
	</div>




	<div class="main-content">
		<div class="wrap">
			<div class="main-box">
				<div class="box_wrapper">
					<h1>TOYOTA</h1>
				</div>

				<div class="section group">
					

					<div class="col_1_of_4 span_1_of_4">
						<img src="images/p-1.jpg" alt="" style="width: 287px; height : 150px;" />
						<div class="grid_desc">
							<p class="title">Land Cruiser Prado</p>
						</div>
						<div class="Details">
							<a href="toyotaprado" title="Lorem ipsum dolor sit amet, consect etuer"
								class="button">Details<span></span></a>
						</div>
					</div>


					<div class="col_1_of_4 span_1_of_4">
						<img src="images/fortuner.jpg" alt="" style="width: 287px; height : 150px;" />
						<div class="grid_desc">
							<p class="title">Fortuner</p>
						</div>
						<div class="Details">
							<a href="toyotafortuner" title="Lorem ipsum dolor sit amet, consect etuer"
								class="button">Details<span></span></a>
						</div>
					</div>


					<div class="col_1_of_4 span_1_of_4">
						<img src="images/camry.jpg" alt="" style="width: 287px; height : 150px;" />
						<div class="grid_desc">
							<p class="title">Camry</p>
						</div>
						<div class="Details">
							<a href="toyotacamry" title="Lorem ipsum dolor sit amet, consect etuer"
								class="button">Details<span></span></a>
						</div>
					</div>


					<div class="col_1_of_4 span_1_of_4">
						<img src="images/e-1.jpg" alt="" style="width: 287px; height : 150px;" />
						<div class="grid_desc">
							<p class="title">Etios Cross</p>
						</div>
						<div class="Details">
							<a href="toyotaetios" title="Lorem ipsum dolor sit amet, consect etuer"
								class="button">Details<span></span></a>
						</div>
					</div>


					<div class="clear"></div>
				</div>

				<div class="section group">

					<div class="col_1_of_4 span_1_of_4">
						<img src="images/InnovaCrysta.jpg" alt="" style="width: 287px; height : 150px;" />
						<div class="grid_desc">
							<p class="title">Innova Crysta</p>
						</div>
						<div class="Details">
							<a href="toyotainnova" title="Lorem ipsum dolor sit amet, consect etuer"
								class="button">Details<span></span></a>
						</div>
					</div>

					<div class="clear"></div>
				</div>




			</div>
		</div>
	</div>

	<%- include("footer") -%>